.contenedorCard
  
    bg-color{
        display: flex;
        background-color: rgb(70, 101, 151);;
       
        
    } 
    .bg-color2{
        display: flex;
        background-color: rgb(70, 101, 151);; 
        ul{
            display: flex;
        }
        li{
            display: flex;
        }
    }