$justify:(
    start:start, 
    center:center, 
    end:end,
    around:space-around,
    evenly:space-evenly,
    between:space betwwen,
)
$colores(
    primario:rgb(70, 101, 151),
    
);
$btn:(
    padding: 10px 15px,
    bordes:0,
    radio:10px,
    

    
);